*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
    --margin-left: 1.5vw;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: white;
    /* border:5px solid green; */
}

.main-container {
    /* border:2px solid green; */
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding:1%; */
}

.hero {
    min-height: 75vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom:10vh;
}

.hero .content {
    background: var(--prim-color);
    height: 100%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    color: white;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    padding: 4%;
}

.hero .content .title-left {
    /* color: var(--prim-color); */
    /* background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.374),
        rgba(0, 0, 255, 0.725)
    );
    background-image:url(../images/nalondo1.jpg)
    backdrop-filter: blur(5px); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.41);
    height:100%; */
    padding: 1% 4%;
    width: 50%;
    height: 100%;
    /* border:2px solid red; */
}

.hero .content .title-left q {
    /* display:block; */
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5%;
    /* font-weight: 400; */
}
.hero .content .title-left p {
    /* display:block; */
    /* width: 70%; */
    font-size: 1.1rem;
    /* font-weight: 400; */
}
.hero .content .title-left span {
    color: var(--h-color);
}

.hero .content .title-right {
    background: white;
    /* height:100%; */
    padding: 4%;
    width: 50%;
    color: var(--prim-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.hero .content .title-right button {
    background: var(--h-color);
    /* height:100%; */
    padding: 4%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1rem;
}
.hero .content .title-right button:hover {
    background: var(--prim-color);
}

.hero .content .title-right a {
    color: white;
    text-decoration: none;
}
.mentors {
    color: var(--colorF);
    /* color:black; */
}

@keyframes float {
    0% {
        opacity: 0; /* Start fully transparent */
    }

    50% {
        opacity: 1; /* Fade in to fully opaque */
    }

    100% {
        opacity: 0; /* Fade out to fully transparent */
    }
}
.hero img a {
    animation: float 3s ease-in-out infinite;
}

.adminstrator {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:2px solid purple; */
    width: 90vw;
    margin: 2% 0%;
    border-radius: 15px;
}

.adminstrators .arrow {
    /* border:2px solid red; */
    /* height:15px; */
    width: 3.5%;
    transition: 0.5s;
}

.adminstrators {
    width: 100%;
    border-radius: 15px;

    /*scroll-snap-align: center;*/
    margin-top: 0.5vh;
    /* height:65vh; */
    /* background:rgba(128,128,128,.3); */
    /* border:2px solid red; */
    /* display:flex;
    justify-content:space-around; */
    /* padding:1% 3%; */
}

.adminstrators .adm-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--prim-color);
    width: 100%;
    /* padding:0% 1%; */
    height: 7vh;
    padding: 0% 1.5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    /*border:1px solid blue; */
    padding-right: 1.5%;
    margin-bottom: 1%;
    transition: 0.6s;
    color: var(--colorD);
    border-radius: 15px;

    /*font-size:var(--sh-size);*/
}

/*.adminstrators .adm-position h2{*/
/*    color:var(--colorD);*/
/*}*/

.senior-admin-heading {
    color: var(--prim-color);
    font-size: var(--h-size);
    /* font-weight: 700; */
    font-weight: bold;
    margin-bottom: 10px;
    margin: 2vh 0;
    border-radius: 15px;
}
.adminstrators .main-adm {
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    opacity: 0;
    height: 0vh;
    align-items: center;
    /* height:100px; */
    width: 100%;
    transition: 1s;
    background: var(--prim-color);
    border-radius: 15px;

    /* border:1px solid blue; */
    /* margin:10px; */
}

.adminstrator .opened .main-adm {
    height: 75vh;
    opacity: 1;
    border-radius: 15px;

    /* border:2px solid blue; */
}

.adminstrator .opened .adm-position {
    background: var(--prim-color);
    /* border:2px solid red; */
    color: var(--colorE);
    border-radius: 15px;
}

.adminstrator .opened .arrow {
    transform: rotate(180deg);
}

.adminstrator .opened h2 {
    background: var(--colorD);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.65);
    color: var(--colorE);
    padding: 0% 1.5%;
    min-width: 47.5%;
    font-weight: bold;
    border-radius: 15px;
}

.viewing .adm-position {
    background: var(--prim-color);
    color: var(--colorE);
    border-radius: 15px;
}
.viewing .main-adm {
    opacity: 1;
    height: 75vh;
    border-radius: 15px;
}

.viewing .arrow {
    transform: rotate(180deg);
}

.adminstrator h2 {
    transition: 1s;
    /* border:2px solid red; */
    font-size: var(--sh-size);
    border-radius: 15px;

    margin: 0;
}

.viewing h2 {
    /* border:2px solid red; */
    background: var(--colorD);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0% 1.5%;
    min-width: 47.5%;
    font-weight: bold;
    color: var(--colorE);
    border-radius: 15px;
}

.adminstrators .main-adm .identity,
.adminstrators .main-adm .image {
    /* border:2px solid blue; */
    height: 95%;
    width: 50%;
    border-radius: 15px;
}

.adminstrators .main-adm .identity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding:2.5% 0%; */
    align-items: center;
    border-radius: 15px;
}

.adminstrators .main-adm .identity .adm-name {
    /* border:2px solid green; */
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    background: var(--colorD);
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.7);
    width: 95%;
    font-size: var(--th-size);
    font-weight: bold;
    border-radius: 15px;
}

.adminstrators .main-adm .identity .adm-remarks {
    width: 100%;
    height: 82%;
    display: flex;
    /* border:2px solid green; */
    justify-content: center;
    align-items: center;
    padding: 3%;
    background: var(--colorD);
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.7);
    width: 95%;
    padding-right: 2%;
    font-size: var(--th-size);
    border-radius: 15px;

    overflow-y: scroll;
}

.adminstrators .main-adm .image {
    overflow: hidden;
    display: flex;
    width: 50%;
    /* padding-right:2%; */
    /* border:2px solid red; */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.adminstrators .main-adm .image img {
    object-fit: cover;
    object-position: top;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    /* border:2px solid green; */
}

@media (max-width: 781px) {
    .adminstrators .main-adm .identity .adm-remarks {
        overflow-y: scroll;
        font-size: var(--th-size);
    }

    .adminstrators h2 {
        font-size: var(--sh-size);
    }

    .adminstrators .opened .adm-position,
    .viewing .adm-position {
        color: var(--colorE);
    }

    .viewing .adm-position h2,
    .adminstrator .opened h2 {
        /*font-size:var(--th-size);*/
        color: var(--colorE);

        /*border:2px solid red;*/
    }
}

@media (max-width: 430px) {
    .viewing .main-adm,
    .adminstrator .opened .main-adm {
        height: 55vh;
    }

    .adminstrator h2,
    .viewing h2,
    .adminstrator .opened h2 {
        width: 90%;
        padding: 2%;
        font-size: var(--th-size);
    }

    .adminstrators .adm-position {
        padding-right: 3.5%;
        font-size: var(--th-size);
    }

    .adminstrators .main-adm .identity .adm-remarks {
        font-size: var(--bd-text-size);
    }
}

/* new sliders */
.department {
    position: relative;
    /* overflow: hidden; */
    padding: 20px;
    opacity: 1;
    transition: 1.5s;
    /* align-self:flex-end; */
    /*border:2px solid yellow; */
    width: 100vw;
    margin-bottom: 5vh;
}

.department-title {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin: 2vh 0;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1.5s;
    font-weight: bold;
    font-size: var(--h-size);
}

.coloured-title {
    color: var(--prim-color);
    opacity: 1;
    /*transition:0.7s;*/
}

.teacher-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    opacity: 0;
    transition: 1s;
    /* border:2px solid green; */
}

.sliding .teacher-container {
    opacity: 1;
    /*transition:2s; */
}

.teacher-container::-webkit-scrollbar {
    display: none;
}

.teacher-card {
    flex: 0 0 auto;
    width: 250px;
    min-height: 450px;
    margin-right: 40px;
    /* border:2px solid red; */
    overflow: hidden;
    position: relative;
}

.teacher-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 15px;
}

.teacher-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}

.teacher-card .teacher-image::after {
    content: "";
    background: rgba(var(--prim), 0.22);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.5s;
}

.teacher-card:hover .teacher-thumb {
    transform: scale(1.1);
}

.teacher-card:hover .teacher-image::after {
    opacity: 0;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.teacher-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.teacher-name {
    text-transform: uppercase;
    transition: 0.3s;
}

.teacher-card:hover .teacher-name {
    opacity: 1;
    color: blue;
    transform: translateX(0);
}

.teacher-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    transition: 0.5s;
}

.teacher-card:hover .teacher-description {
    opacity: 0.75;
}

.subject-1 {
    font-weight: 900;
    font-size: 20px;
}

.subject-2 {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: underline;
}

.subject-1,
.subject-2 {
    opacity: 0;
    transition: 0.7s;
}

.teacher-card:hover .subject-1 {
    opacity: 1;
}

.teacher-card:hover .subject-2 {
    opacity: 0.5;
}

@media (max-width: 781px) {
    .subject-1 {
        opacity: 1;
    }

    .subject-2 {
        opacity: 0.5;
    }
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 1;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
    /* border:2px solid red; */
    /* z-index:5; */
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}
